target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
src/udm2020-diDist/lib/cidsLibBase/resource/__tmp_build.xml
*.log
/desktop.ini
/.icon.ico
settings.xml
/src/udm2020-diDist/server/udm2020-di/runtime.properties
/src/udm2020-diDist/lib/localUdm2020-di/resources.jar
/src/udm2020-diDist/gen/settings.xml
/src/udm2020-diDist/gen/lib
/src/udm2020-diDist/bin/apache-maven-3.3.9
/src/udm2020-diDist/bin/jdk-8u112-windows-x64
/src/udm2020-diDist/bin/node-v7.0.0-win-x64
/src/udm2020-diDist/bin/wget-1.11.4-1
/src/udm2020-diDist/server/udm2020-di/udm2020-di-server-log.html
/src/udm2020-diDist/server/udm2020-di-rest/udm2020-di-server-rest-log.html
/src/udm2020-diDist/lib/starterUdm2020-di
/src/udm2020-diDist/lib/starterUDM2020-di-REST
/src/udm2020-diDist/lib/classpathUdm2020-di
/src/udm2020-diDist/lib/classpathUDM2020-di-REST
/src/udm2020-diDist/client/udm2020-di/cids-custom-udm2020-di-1.0-SNAPSHOT-starter.jnlp
/src/udm2020-diDist/client/udm2020-di/config/*.bak
/src/udm2020-diDist/client/uim2020-html5-demonstrator-master
