target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
src/udm2020-diDist/lib/cidsLibBase/resource/__tmp_build.xml
*.log
/src/udm2020-diDist/server/udm2020-di/boris-export.csv
/desktop.ini
/.icon.ico
